#cloud-config

name: "sysext with /opt enabled"

hostname: "${VM_HOSTNAME}"

users:
  - name: "nkpadmin"
    groups:
      - admin
    shell: /bin/bash
    passwd: "kairos"
    ssh_authorized_keys:
    - github:jimmidyson
    - github:dkoshkin
    - github:yannickstruyf3
    - github:supershal

install:
  device: "auto"
  reboot: true
  poweroff: false
  auto: true
  bundles:
  - targets:
    - run://run/initramfs/live/kubernetes-images-v1.34.1.tar
    local_file: true

fail_on_bundles_errors: true


