#cloud-config

name: "sysext with /opt enabled"

hostname: "${VM_HOSTNAME}"

users:
  - name: "nkpadmin"
    groups:
      - admin
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
    - github:jimmidyson
    - github:dkoshkin
    - github:yannickstruyf3
    - github:supershal

install:
  device: "auto"
  reboot: true
  poweroff: false
  auto: true
  bundles:
  - targets:
    - run://run/initramfs/live/kubernetes-images-${KUBERNETES_IMAGES_VERSION}.tar
    local_file: true

fail_on_bundles_errors: true

# stages:
#   initramfs.after:
#     - name: "systemd-sysext uki config"
#       if: '[ -e "/run/cos/uki_boot_mode" ] && [ ! -e "/run/cos/recovery_mode" ] && [ ! -e "/run/cos/autoreset_mode" ]'
#       files:
#         - path: /etc/systemd/system/systemd-sysext.service.d/kairos-uki.conf
#           permissions: 0644
#           owner: 0
#           group: 0
#           content: |
#             [Service]
#             TimeoutStartSec=10
#             ExecStart=
#             ExecStart=systemd-sysext refresh --image-policy="root=verity+signed+absent:usr=verity+signed+absent"
#             ExecReload=
#             ExecReload=systemd-sysext refresh --image-policy="root=verity+signed+absent:usr=verity+signed+absent"
#             Environment="SYSTEMD_SYSEXT_HIERARCHIES=/usr/local/bin:/usr/local/sbin:/usr/local/include:/usr/local/lib:/usr/local/share:/usr/local/src:/usr/bin:/usr/share:/usr/lib:/usr/include:/usr/src:/usr/sbin:/opt"
#             [Unit]
#             JobRunningTimeoutSec=5

#     - name: "systemd-sysext config"
#       if: '[ ! -e "/run/cos/uki_boot_mode" ] && [ ! -e "/run/cos/recovery_mode" ] && [ ! -e "/run/cos/autoreset_mode" ]'
#       files:
#         - path: /etc/systemd/system/systemd-sysext.service.d/kairos.conf
#           permissions: 0644
#           owner: 0
#           group: 0
#           content: |
#             [Service]
#             TimeoutStartSec=10
#             ExecStart=
#             ExecStart=systemd-sysext refresh --image-policy="root=verity+absent:usr=verity+absent"
#             ExecReload=
#             ExecReload=systemd-sysext refresh --image-policy="root=verity+absent:usr=verity+absent"
#             Environment="SYSTEMD_SYSEXT_HIERARCHIES=/usr/local/bin:/usr/local/sbin:/usr/local/include:/usr/local/lib:/usr/local/share:/usr/local/src:/usr/bin:/usr/share:/usr/lib:/usr/include:/usr/src:/usr/sbin:/opt"
#             [Unit]
#             JobRunningTimeoutSec=5

#     - name: "systemd-sysext set hierarchy system-wide"
#       if: '[ ! -e "/run/cos/recovery_mode" ] && [ ! -e "/run/cos/autoreset_mode" ]'
#       files:
#         - path: /etc/profile.d/systemd-sysext.sh
#           permissions: 0644
#           owner: 0
#           group: 0
#           content: |
#             export SYSTEMD_SYSEXT_HIERARCHIES="/usr/local/bin:/usr/local/sbin:/usr/local/include:/usr/local/lib:/usr/local/share:/usr/local/src:/usr/bin:/usr/share:/usr/lib:/usr/include:/usr/src:/usr/sbin:/opt"

#     - name: "systemd-sysext initramfs settings"
#       if: '[ -e "/sbin/systemctl" ] || [ -e "/usr/bin/systemctl" ] || [ -e "/usr/sbin/systemctl" ] || [ -e "/bin/systemctl" ]'
#       systemctl:
#         enable:
#           - systemd-sysext
