#cloud-config

hostname: jimmi-kairos-test

users:
  - name: "nkpadmin"
    groups:
      - admin
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
    - github:jimmidyson
    - github:dkoshkin
    - github:yannickstruyf3
